body {
    margin: 0;
    padding: 0;
    background-color: rgb(14, 150, 150);
  }
  h1 {
    color: rgb(8, 8, 8);
    font-family: "Dancing Script", cursive;
    text-align: center;
  }
  .sh {
    color: black;
    background-color: rgb(14, 150, 150);
    padding: 28px 22px;
    margin: 80px 18px 38px -92px;
  }
  input {
    color: black;
    width: 200%;
    height: 45px;
    text-align: center;
    border: 3px solid cadetblue;
    font-size: 18px;
    font-weight: bold;
  }
  button {
    height: 15%;
    width: 51%;
    font-family: Dancing Script;
    font-size: larger;
    font-weight: bold;
    color: black;
    background: rgb(176, 143, 10);
    margin: 20px 3px 13px -11px;
  }
  
  .mcontainer {
    display: flex;
    justify-content: space-between;
    padding: 63px 379px 98px 203px;
    background-color: black;
    border: 5px solid rgb(14, 150, 150);
    border-radius: 25px;
  }
  .grade{
    padding: 145px 5px;
    width: 7%;
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: rgb(3, 41, 41); */
  }